<html>
    <head>
        <title>Hayeon's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Hayeon's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="admin/blog/post/1">My first post</a></h2>
            <p>Avoid merely reporting a fact. Say more than what is already proven fact. Go further with your ideas. Otherwise… why would your point matter?
			Original thesis: Hoover's administration was rocked by scandal.
			Revised thesis: The many scandals of Hoover's administration revealed basic problems with the Republican Party's nominating process.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="admin/blog/post/2">My second post</a></h2>
            <p>	*THESIS SHOULD BE PRACTICAL
				* YOU SHOULD TACLE THE ISSUE AND ACTUALLY SOLVE THE PROBLEMS.
				* DONT BE THEORETICAL

				EX.
				GOOOOOOD:
 				The Influence of Troy on the fall of Jericho. 이거 잘 쓴 가설이라는데..

					Manipulative Whistleblowers Take Advantage of Innocent Underdogs </p>
        </div>
    </body>
</html>